<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="index.html" />
      </files>
    </defaultDocument>
    <httpErrors existingResponse="PassThrough" />
    <rewrite>
      <rules>
        <!-- Cette règle est pour les requêtes d'API gérées par Node.js -->
        <rule name="NodeJS" stopProcessing="true">
          <match url="^server.js$" />
          <action type="Rewrite" url="server.js" />
        </rule>

       
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
