<configuration>
  <system.webServer>
    <handlers>
      <add name="iisnode" path="server.js" verb="*" modules="iisnode" />
    </handlers>
    <defaultDocument enabled="true">
      <files>
        <add value="server.js" />
      </files>
    </defaultDocument>
    <httpErrors existingResponse="PassThrough" />
    <rewrite>
      <rules>
        <!-- Cette règle redirige toutes les requêtes vers server.js -->
        <rule name="NodeJS" stopProcessing="true">
          <match url="^server.js$" />
          <action type="Rewrite" url="server.js" />
        </rule>

        <!-- Cette règle redirige les routes de la SPA vers index.html -->
        <rule name="SPA Routes" stopProcessing="true">
          <match url=".*" />
          <conditions logicalGrouping="MatchAll">
            <!-- Ignore les fichiers existants -->
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <!-- Ignore les répertoires existants -->
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <!-- Redirige les autres requêtes vers index.html -->
          <action type="Rewrite" url="/index.html" />
        </rule>
      </rules>
    </rewrite>
  </system.webServer>
</configuration>
